body {
    background-color: #2f2f2f;
    
}

button {
    font-size: larger;
    font-weight: 800;
    color: rgb(230, 230, 230);
    border: 1px solid #000000;
    padding: 16px 32px;
    border-radius: 8px;
    background: rgb(131, 131, 131);
    flex: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 960px;
    height: 960px;
    background-color: rgb(230, 230, 230);  
    border: 10px solid rgb(131, 131, 131);

}

.container div {
    display: flex;
    flex-flow: row wrap;
    flex: 1; 
}

.gridSquare {
    border: 1px solid #2f2f2f;
}

.colored {
    background-color: rgb(0, 0, 0);
}