body {
    background-color: #2f2f2f;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 960px;
    height: 960px;
    background-color: rgb(230, 230, 230);  
    border: 10px solid rgb(131, 131, 131);

}

.container div {
    display: flex;
    flex-flow: row wrap;
    flex: 1; 
}

.gridSquare {
    border: 1px solid #2f2f2f;
}

.colored {
    background-color: rgb(0, 0, 0);
}